{% extends 'layout.html.twig' %}

{% block content %}

    <p>Sur Mars Perseverance, Ingenuity et Wall E s’ennuient beaucoup, nous avons donc eu l’idée de leur permettre de pouvoir rencontrer la faune locale, ils vont sûrement avoir quelques surprises... et des bisous aussi !! Cliques sur un robot afin qu’il puisse rencontrer son âme-soeur.</p>

    <a href="/home/match"><img class="robot-blue" src="/assets/images/robot-blue.png"></a>
    <a href="/home/match"><img class="robot-white" src="/assets/images/robot-white.png"></a>
    <a href="/home/match"><img class="robot-yellow" src="/assets/images/robot-yellow.png"></a>
{% endblock %}

