{% extends 'layout.html.twig' %}
    
    {% block content %}
    
    <p>Sur Mars Perseverance, Ingenuity et Wall E s’ennuient beaucoup, nous avons donc eu l’idée de leur permettre de pouvoir rencontrer la faune locale, ils vont sûrement avoir quelques surprises... et des bisous aussi sans oublier de gros calins!! Cliques sur l'un robot de nos robots pour qu'il puisse decouvrir son âme-soeur.</p>
    
    <a href="/home/match/?robot=blue"><img class="robot-blue" src="/assets/images/robot-blue.png"></a>
    <a href="/home/match/?robot=white"><img class="robot-white" src="/assets/images/robot-white.png"></a>
    <a href="/home/match/?robot=yellow"><img class="robot-yellow" src="/assets/images/robot-yellow.png"></a>
    {% endblock %}
    