{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Enfin de l'autre côté</h1>
    <img src="{{ image }}" class="monster">
    <p>Vous avez {{ compatibility }} % de compatibilité !! {{ sentence }}</p>
{% endblock %}