{% extends 'layout.html.twig' %}

{% block content %}
<body id="page2">
    <p>Vous etes compatible à XX%</p>

    <p id="clickclick">Vous pouvez retrouver également votre ame soeur ici
        <a href="/assets/images/Maldives.jpg" target="_blank">
            <img class="logoclick" src="/assets/images/palmier.jpg" alt="logo click here">
        </a>
    </p>
</body>
{% endblock %}